* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100vh;
}
.general-container {
  display: flex;
  height: 100%;
}
.img {
  background-size: cover;
  height: 100%;
}
.main-image-container {
  height: 100%;
  flex: 1;
  overflow: hidden;
}
.side-bar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 500px;
  background-color: #f5f3f0;
  padding: 20px 40px 0 40px;
}
.header-side-bar {
  height: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.return-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  grid-column: 1/3;
  justify-self: start;
}
.stage {
  justify-self: end;
  align-self: center;
}
.personalise {
  justify-self: start;
  align-self: center;
}
.icon {
  width: 24px;
  height: 24px;
}
h1 {
  font-family: sans-serif;
  font-weight: 600;
  position: absolute;
  top: 25px;
  left: 50px;
}
.progress-bar-container {
  background-color: rgb(215, 215, 215);
  width: 100%;
  height: 10px;
  border-radius: 30px;
  overflow: hidden;
  grid-column: 1/3;
}
.progress {
  background-color: #a0cfd3;
  width: 25%;
  height: 100%;
}
