* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100vh;
}
.general-container {
  display: flex;
  height: 100%;
}
.main-image-container {
  height: 100%;
  flex: 1;
  overflow: hidden;
}
.img {
  background-size: cover;
  height: 100%;
}
.logo {
  font-family: sans-serif;
  font-weight: 600;
  position: absolute;
  top: 25px;
  left: 50px;
}
.side-bar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 450px;
  background-color: #f5f3f0;
  padding: 20px 40px 0 40px;
  position: relative;
}
.header-side-bar {
  height: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.return-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  grid-column: 1/3;
  justify-self: start;
}
.return-button .icon {
  width: 24px;
  height: 24px;
}
.stage {
  justify-self: end;
  align-self: center;
}
.personalise {
  justify-self: start;
  align-self: center;
}
.progress-bar-container {
  background-color: rgb(215, 215, 215);
  width: 100%;
  height: 10px;
  border-radius: 30px;
  overflow: hidden;
  grid-column: 1/3;
}
.progress {
  background-color: #a0cfd3;
  width: 25%;
  height: 100%;
}
.block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.option:has(input[type="radio"]:checked) {
  border: 1.5px solid black;
}
.option {
  border: 1.5px solid transparent;
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  position: relative;
  cursor: pointer;
}
.option-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.option input {
  height: 18px;
  width: 18px;
  justify-self: end;
  accent-color: #000000;
  position: absolute;
  top: 10px;
  right: 10px;
}
h2 {
  font-weight: 400;
  font-size: 20px;
}
.option h3 {
  font-weight: 400;
  font-size: 26px;
}
.option-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: start;
  row-gap: 8px;
}
.option-1 span {
  grid-column: 1/3;
  font-size: 14px;
  color: #828282;
}
.option-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.option-2 h3 {
  grid-column: 1/-1;
}
.blue-block {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 0;
  background-color: #aeeeee;
  border: 1px solid #8bbebe;
  border-radius: 30px;
  font-size: 14px;
}
.blue-block .icon {
  height: 16px;
  width: 16px;
}
.blue-block.sub-discount {
  background-color: #000000;
}
.option-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.filter-img-container {
  height: 50px;
  width: 50px;
  grid-row: 1/3;
}
.footer-side-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.guarantee-footer {
  width: 100%;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  font-size: 14px;
  grid-column: 1/-1;
}
.guarantee-footer .icon {
  height: 14px;
  width: 14px;
}
.footer-price-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 100%;
  padding: 16px 24px;
}
.footer-total {
  font-size: 22px;
  font-weight: lighter;
}
.footer-price-per-day {
  font-size: 16px;
}
.next-step-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 180px;
  height: 60px;
  border: none;
  cursor: pointer;
  background-color: #6d72c3;
  color: #ffffff;
  font-size: 18px;
  align-self: center;
  border-radius: 30px;
}
.next-step-button .icon {
  height: 16px;
  width: 16px;
}
