* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100vh;
}
.general-container {
  display: flex;
  height: 100%;
}
.main-image-container {
  height: 100%;
  flex: 1;
  overflow: hidden;
}
.img {
  background-size: cover;
  height: 100%;
}
.logo {
  font-family: sans-serif;
  font-weight: 600;
  position: absolute;
  top: 25px;
  left: 50px;
}
.side-bar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 500px;
  background-color: #f5f3f0;
  padding: 20px 40px 0 40px;
}
.header-side-bar {
  height: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.return-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  grid-column: 1/3;
  justify-self: start;
}
.icon {
  width: 24px;
  height: 24px;
}
.stage {
  justify-self: end;
  align-self: center;
}
.personalise {
  justify-self: start;
  align-self: center;
}
.progress-bar-container {
  background-color: rgb(215, 215, 215);
  width: 100%;
  height: 10px;
  border-radius: 30px;
  overflow: hidden;
  grid-column: 1/3;
}
.progress {
  background-color: #a0cfd3;
  width: 25%;
  height: 100%;
}
.option:has(input[type="radio"]:checked) {
  border: 2px solid black;
}
.option {
  border: 2px solid transparent;
  background-color: white;
  border-radius: 12px;
  padding: 16px;
}
.option-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 20px;
}
.option input {
  height: 20px;
  width: 20px;
  justify-self: end;
  accent-color: #000000;
}
.option-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.option-1 input {
  grid-row: 1/3;
  grid-column: 3;
}
.filter-img-container {
  height: 50px;
  width: 50px;
  grid-row: 1/3;
}
.option-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: start;
  row-gap: 4px;
}
.option-2 span {
  grid-column: 1/3;
}
.next-step-button {
  width: 50px;
  height: 50px;
}
/* HIDE BLOCK */
.block {
  display: none;
}
