<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/asets/style.css" />
  </head>
  <body>
    <div class="general-container">
      <div class="main-image-container">
        <h1 class="logo">PuRevo</h1>
        <img src="/src/public/tap-pic.jpg" class="img" />
      </div>
      <div class="side-bar-container">
        <div class="header-side-bar">
          <button class="return-button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="icon"
            >
              <path
                fill-rule="evenodd"
                d="M17 10a.75.75 0 0 1-.75.75H5.612l4.158 3.96a.75.75 0 1 1-1.04 1.08l-5.5-5.25a.75.75 0 0 1 0-1.08l5.5-5.25a.75.75 0 1 1 1.04 1.08L5.612 9.25H16.25A.75.75 0 0 1 17 10Z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
          <p class="personalise">Personalise your offer:</p>
          <p class="stage">stage 1/4</p>
          <div class="progress-bar-container">
            <div class="progress"></div>
          </div>
        </div>
        <div class="main-side-bar">
          <div class="block-1 block">
            <h2>Choose a color:</h2>
            <div class="option-container">
              <label class="option-1 option">
                <div class="filter-img-container">
                  <img class="img" />
                </div>
                <span>Gray</span>
                <span class="offered">Offered</span>
                <input type="radio" name="radio" />
              </label>
            </div>
            <label class="option-1 option">
              <div class="filter-img-container">
                <img class="img" />
              </div>
              <span>White</span>
              <span class="offered">Offered</span>
              <input type="radio" name="radio" />
            </label>
            <label class="option-1 option">
              <div class="filter-img-container">
                <img class="img" src="/src/public/black-splash.png" />
              </div>
              <span>Black</span>
              <span class="offered">Offered</span>
              <input type="radio" name="radio" />
            </label>
          </div>
          <div class="block-2 block">
            <h2>How many people in your house?</h2>
            <div class="option-container">
              <label class="option-2 option">
                <span id="person1">1 person</span>
                <input type="radio" name="person-radio" id="person1" />
                <span>Perfect for single use</span>
              </label>
              <label class="option-2 option">
                <span id="person2-3">2-3 people</span>
                <input type="radio" name="person-radio" id="person2-3" />
                <span>Perfect for small household</span>
              </label>
              <label class="option-2 option">
                <span id="person4-5">4-5 people</span>
                <input type="radio" name="person-radio" id="person4-5" />
                <span>Perfect for single use</span>
              </label>
              <label class="option-2 option">
                <span id="person5">5+ people</span>
                <input type="radio" name="person-radio" id="person5" />
                <span>Perfect for single use</span>
              </label>
            </div>
          </div>
        </div>
        <div class="footer-side-bar"></div>
      </div>
    </div>
    <script src="/src/scripts/index.js"></script>
  </body>
</html>
